/* Global */
header {
  background-color: rgb(34, 32, 32);
  color: rgb(177, 115, 115);
  margin-top: 10px;
  padding: 20px;
  border-bottom: #e8491d 3px solid;
}

body {
  background-color: #f4f4f4;
}

header h1 {
  color: #e7d1d1;
  text-align: center;
  font-family: cursive;
}

header p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  font-family: cursive;
  padding: 20px;
}

p {
  font-family: cursive;
  font-size: 15px;
  padding: 10px;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color: rgb(34, 32, 32);
  text-align: center;
}

button {
  height:40px;
  background:rgb(177, 115, 115);
  color:#ffffff;
  width: 100%;
}

/* Local */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    padding: 10px;
    grid-gap: 20px;
    text-align: justify;
}

#city {
  width:100%;
  margin-bottom:5px;
  height: 35px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    padding: 20px;
    text-align: justify;
}
.imager {
  align-self: auto;
  width: 100%;
  
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.divBorder {
  border: thin solid rgb(177, 128, 128);
}

