.headerOne {
  background-color: black;
  color: rgb(177, 115, 115);
  margin: 20px;
  padding: 20px;
}

body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}